.container{
  padding: 50px;
  background-image: url("/signup/bg.png");

  /* Full height */
   height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}

.logo {
  
}

.logo img {
  width: 250px;
  height: 40px; 
  position: relative;
}

.form_div {
  
}

form {
  width: 90%;
  padding: 30px;
  /* min-height: 550px; */

  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 4px 8px 13px #05023E4F;
  border-radius: 10px;
  opacity: 1;
}

form h2 {
  text-align: center;
  font: normal normal 600 25px/17px Montserrat;
  letter-spacing: 1.25px;
  color: #2B2F4B;
  opacity: 1;

  margin-top: 60px;
}

.form-group {
  display: flex;
  border-bottom: 2px solid #6D6D6D;
  margin: 20px auto;
}

.form-group label {
  margin-bottom: 0;
  padding-top: 5px;
}

.form-group input {
  border: none;
}

.checkbox {
  margin-top: 50px;
}

.checkbox label {
  text-align: left;
  font: normal normal normal 18px/17px Montserrat;
  letter-spacing: 0.9px;
  color: #636363;
  float: left;
}

.checkbox label input {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #F64650!important;
  border-radius: 6px;
  opacity: 1;
  margin-right: 8px;
}

.checkbox .forget_pswd {
  width: fit-content;
  float: right;
  font: normal normal normal 18px/17px Montserrat;
  letter-spacing: 0.9px;
  color: #B088F9;
}

.contiune {
  background: transparent linear-gradient(180deg, #B088F9 0%, #51C2D5 100%) 0% 0% no-repeat padding-box;
  box-shadow: 4px 5px 8px #00000029;
  border-radius: 29px;
  font: normal normal bold 20px/17px Montserrat;
  letter-spacing: 1px;
  color: #FFFFFF;
  opacity: 1;
  height: 45px;

  width: 100%;
  margin: 30px auto;
}

.nothaveAccount {
  font: normal normal normal 25px/17px Montserrat;
  letter-spacing: 1.25px;
  color: #2B2F4B; 
  margin: 40px auto;
  text-align: center;
}

.nothaveAccount .signup {
  color: #B088F9;
}

@media screen and (max-width: 992px) {

  .logo {
    text-align: center;
    margin-bottom: 50px;
  }

  .form_div {
    text-align: center;
  }

  form {
    width: 100%;
  }
}