/* nav starts */
.navbar {
  border: 2px solid #E2E2E2;
  background-color: white;
}

.navbar-brand {
  width: 250px;
  height: 50px;
}

.navbar-brand img {
   width: 100%;
   height: 100%;
}

.navbar-nav {

}

.nav-item {
  color: #AFAFAF;
  font-style: Poppins-Regular;
  margin: auto 10px;
}

.nav-item button {
  border: 2px solid #2B2F4B;
  border-radius: 10px;
  color: #2B2F4B;
  width: 120px;
}

/* nav ends */

.container {
  margin-top: 100px;
}

.filter {
  display: flex;
  margin: 30px auto;
}

.filter div {
  margin: auto;
  height: fit-content;
}

.filter img {
  width: 35px;
  height: 40px;
  margin: auto;
}

.filter p {
  text-align: left;
  color: #727272;
  font-style: Poppins-Regular;
  font-size: 25px;
  font-weight: 100;
  margin: auto;
} 


.two {
  margin: 50px auto;
}

.two .title {
  color: #727272;
}

.two .filter_by {
  display: flex;
}

.two .filter_by p {
  width: 30%;
  text-align: right;
  margin: auto;
  color: #272121;
}

.two .filter_by select {
  width: 60%;
  margin-right: auto;
  color: #C7C7C7;
}

.two .filter_by select option{
  color: #C7C7C7;
}


.three {
  
}

.three .col-sm-4 {

}

.three .btn-grp {
  text-align: center;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 43px #00000014;
  border-radius: 21px;
  margin: 20px auto;
  padding: 10px;
}

.three .btn-grp button{
  width: 35%;
  margin: 8px;
  border: 2px solid #2B2F4B;
  border-radius: 8px;
  color: #2B2F4B;
}

.three .col-sm-4 p {
  color: #272121;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  margin-top: 30px;
  font-style: Poppins-Medium;
}

.three .col-sm-8 {

}

.three .description {
  margin: 20px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 43px #00000014;
  border-radius: 20px;
  padding: 20px;
}

.three .description .profile {
  
}

.three .description .detail {
  
}

.three .description .detail div {
  display: flex;
}

.three .description .detail div img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.three .description .detail div p {
  color: #272121;
  font-style: Poppins-Regular;
}

.three .description .detail .name{
  color: #272121;
  font-style: Poppins-Regular;
  font-size: 30px;
  font-weight: 600;
}

.three .description .charge {
  color: #272121;
  font-style: Poppins-Regular;
}

footer {
  background: #2B2F4B 0% 0% no-repeat padding-box;
  height: 60px;
}

footer div {
  color: #FFFFFF;
  font-style: Poppins-Regular;
  float: right;
  margin-top: 20px;
  margin-right: 5%;
}

@media screen and (max-width: 550px) {
  .navbar-brand {
    width: 180px;
    height: 40px;
  }

  .container {
    margin-top: 150px;
  }

  .filter {
    display: inline;
  }

  .filter div {
    text-align: center;
  }

  .filter img {
    width: 30px;
    height: 35px;
    margin: auto;
  }

  .filter p {
    font-size: 18px;
  } 

  .two .filter_by {
    display: inline;
  }

  .two .filter_by p {
    width: 100%;
    text-align: center;
    margin-bottom:10px;
  }

  .two .filter_by select {
    width: 100%;
  }
}














.hh-grayBox {
	background-color: transparent;
	margin-bottom: 20px;
	padding: 35px;
  margin-top: 20px;
  width: 100%;
}
.pt45{padding-top:45px;}
.order-tracking{
	text-align: center;
  width: 25%;
	position: relative;
	display: block;
}
.order-tracking .is-complete{
	display: block;
	position: relative;
	border-radius: 50%;
	height: 30px;
	width: 30px;
	border: 0px solid #AFAFAF;
	background-color: #E7EAED;
	margin: 0 auto;
	/* transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear; */
	z-index: 2;
}
.order-tracking .is-complete:after {
	display: block;
	position: absolute;
	content: '';
	height: 14px;
	width: 7px;
	top: -2px;
	bottom: 0;
	left: 5px;
	margin: auto 0;
	border: 0px solid #AFAFAF;
	border-width: 0px 2px 2px 0;
	transform: rotate(45deg);
	opacity: 0;
}
.order-tracking.completed .is-complete{
	border-color: #2B2F4B;
	border-width: 0px;
	background-color: #2B2F4B;
}
.order-tracking.completed .is-complete:after {
	border-color: #fff;
	border-width: 0px 3px 3px 0;
	width: 7px;
	left: 11px;
	opacity: 1;
}

.order-tracking.next .is-complete {
	border: 2px solid #2B2F4B;
	/* border-width: 0px; */
	background-color: transparent;
}

.order-tracking p {
	color: #A4A4A4;
	font-size: 16px;
	margin-top: 8px;
	margin-bottom: 0;
	line-height: 20px;
}

.order-tracking.next p{
  color: #2B2F4B;
}
.order-tracking p span{font-size: 14px;}
.order-tracking.completed p{color: #B3B3B3;}
.order-tracking::before {
	content: '';
	display: block;
	height: 3px;
	width: calc(100% - 40px);
	background-color: #E7EAED;
	top: 13px;
	position: absolute;
	left: calc(-50% + 20px);
	z-index: 0;
}
.order-tracking:first-child:before{display: none;}
.order-tracking:nth-child(2):before{background-color: #75788A;}
.order-tracking.completed:before{background-color: #75788A;}








.pagination_row  {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  text-align: center;
}

.pagination {
  display: flex;
  padding: 1rem;
  background-color: #FFFFFF;
  width: fit-content;
  border-radius: 0.25rem;
  margin: auto;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 4px 4px 57px #3A396A26;
  border-radius: 17px;
}

.crumbs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 0.5rem;
}

.crumb {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: currentColor;
  border-radius: 0.2rem;
  border: 0.0625rem solid #d7d7d7; /* 1px */
  color:#C8C8C8;
  font-style: Poppins-SemiBold;
  font-style: 25px;
  font-weight: 500;
}

.crumb:hover, .crumb__active {
  background-color: #2B2F4B;
  color: #FFFFFF;
  border-color: #2B2F4B;
  border-bottom: none;
}

.crumb__prev { margin-right: 0.5rem; }
.crumb__next { margin-left: 0.5rem; }
